
<form id="courseForm" method="POST" action="/courses/store">
  <div class="form-group">
    <label for="exampleInputEmail1">name</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter text" name="name">
   
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">description</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter text"  name="description">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">link img</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter text"  name="image">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">video id</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter text"  name="video">
   
  </div>


 
  <button type="submit" class="btn btn-primary">Them khoa hoc</button>
</form>

