<div class="mt-4">
    
        <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập gì đó...">
            
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>